@import '@fontsource/open-sans/700.css';

.wrapper {
  padding: var(--20px);
}

.title {
  font-size: var(--h1);
  font-weight: var(--font-bold);
  font-family: 'Open Sans', sans-serif;
}

.subtitle {
  color: var(--medium-grey);
  margin-bottom: var(--15px);
  font-size: var(--20px);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--16px);
}