.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: fit-content;

    margin-inline: auto;
    margin-bottom: var(--40px);
    padding: var(--30px);
    gap: var(--30px);

    background-color: var(--grey-6-95);
    color: var(--background);
    border-radius: var(--5px);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--5px);
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;

    border-bottom: 3px solid var(--orange-3);
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: var(--15px);
}

.firstStep, .secondStep {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: var(--10px);
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: var(--30px);

    color: var(--orange-2);
}

.log span {
    color: var(--background);
}

.logup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logup span {
    color: var(--orange-2);
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: var(--20px);
    gap: var(--10px);
}

@media (min-width: 768px) {
    .main {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .main {
        width: 30%;
    }
}