.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: 95%;
    height: fit-content;

    margin-inline: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: 100%;

    margin: var(--20px);
    margin-bottom: 0;
    padding: var(--10px);
    padding-inline: var(--20px);
    gap: var(--5px);

    background-color: var(--orange-3);
    border-radius: var(--20px);
}

.logo img {
    width: 175px;
    height: 40px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: fit-content;
    height: fit-content;

    gap: var(--20px);

    color: var(--grey-5);
}

.categories .user {
    display: flex;
}

.categories h5, .user img {
    transition: all 0.6s ease;
}
.categories h5:hover, .user img:hover {
    color: var(--grey-1);
    transform: translateY(-4px);
}

.user {
    display: none;
}
.user img {
    width: 40px;
    height: 40px;
}

.allCategories {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    position: absolute;
    z-index: 100;

    width: 100%;
    height: fit-content;
    top: 100%;
    left: 0;

    padding: var(--30px);
    gap: var(--20px);

    background-color: var(--grey-6-95);
}

.category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

    gap: var(--5px);

    color: #ffffff;
}

.category p {
    font-weight: lighter;
    font-size: 14px;

    transition: all 0.3s ease;
}
.category h6 {
    font-weight: bolder;
    color: var(--orange-2);
}

.category p:hover, .category h6:hover {
    color: var(--orange-4);
}

/*log in/out*/
.log {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    position: absolute;
    z-index: 10;

    width: fit-content;
    height: fit-content;
    top: 100%;
    right: 0;

    padding: var(--30px);
    gap: var(--10px);

    background-color: var(--grey-6-95);
    color: #ffffff;
}

.log h5 {
    transition: all 0.3s ease;
}
.log h5:hover {
    color: var(--orange-2);
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
        padding-inline: var(--40px);
    }

    .logo img {
        width: 263px;
        height: 60px;
    }

    .categories .user {
        display: none;
    }

    .categories {
        gap: var(--30px);
    }

    .user {
        display: flex;
    }
}