.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;
  justify-items: center; 
  margin: 20px auto 40px;
  padding: 0 20px; 
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 30px auto 60px;
    padding: 0 30px; 
  }
}

@media (min-width: 1200px) {
  .grid {
    max-width: 95%;
    gap: 30px;
    margin: 40px auto 80px;
    padding: 0 40px; 
  }
}
