.card {
  position: relative;
  overflow: visible; 
  border-radius: var(--border-radius-card);
  box-shadow: var(--shadow-light);
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px); 
}

.image {
  width: 100%;
  height: var(--180px); 
  object-fit: cover;
  display: block;
}

.discountBadge {
  position: absolute;
  top: -2px;
  left: -25px;
  background: var(--orange-4);
  color: var(--white);
  font-size: var(--12px);
  font-weight: 700;
  padding: 4px 14px;
  transform: rotate(-45deg);
  z-index: 20;
  box-shadow: var(--shadow-discount);
}

.discountBadge::before,
.discountBadge::after {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 0;
  height: 0;
  border-style: solid;
}

.discountBadge::before {
  left: 0;
  border-width: 6px 6px 0 0;
  border-color: var(--discount-dark) transparent transparent transparent;
}

.discountBadge::after {
  right: 0;
  border-width: 6px 0 0 6px;
  border-color: var(--discount-dark) transparent transparent transparent;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--black-60);
  color: var(--white);
  padding: 6px; 
  box-sizing: border-box;
}

.name {
  margin: 0;
  font-size: var(--h6); 
  font-weight: 600;
}

.prices {
  margin-top: 2px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.oldPrice {
  text-decoration: line-through;
  color: var(--light-grey);
  font-size: var(--12px);
}

.newPrice {
  font-size: var(--h6);
  font-weight: bold;
  color: var(--white);
}

@media (min-width: 768px) {
  .image {
    height: var(--240px);
  }

  .discountBadge {
    font-size: var(--h6);
    padding: var(--5px) var(--16px);
  }

  .name {
    font-size: var(--h5);
  }

  .oldPrice {
    font-size: 13px;
  }

  .newPrice {
    font-size: var(--h5);
  }
}

@media (min-width: 1024px) {
  .card {
    max-width: var(--450px);
  }

  .image {
    height: var(--300px);
  }

  .discountBadge {
    font-size: var(--h4);
    padding: var(--5px) var(--20px);
  }

  .name {
    font-size: var(--h4);
  }

  .oldPrice {
    font-size: var(--h6);
  }

  .newPrice {
    font-size: var(--h4);
  }
}