.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    width: 100%;
    height: fit-content;
}

.itemsGrid {
    display: grid;
    grid-template-columns: 1fr;

    width: 55%;
    height: fit-content;

    margin: 2.5%;
    gap: var(--20px);
}

.buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: fit-content;

    margin: 2.5%;
}