.inputGroup, .darkInputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 95%;

    margin-inline: auto;
    gap: var(--5px);
}

.inputGroup label {
    color: var(--background);

    font-size: 14px;
    font-weight: bold;
}

.darkInputGroup label {
    color: var(--grey-6);
}

.inputGroup input, .darkInputGroup input {
    width: 95%;

    margin-inline: auto;
    padding: var(--10px) var(--15px);

    border: none;
    outline: none;
    border-radius: var(--20px);
    background-color: var(--background);
}

.inputGroup input::placeholder, .darkInputGroup input::placeholder {
    color: var(--grey-3);
}

.inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.inputWrapper input {
    flex: 1;
    padding-right: 40px; /* deja espacio para el icono */
}

.toggleBtn {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}