.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 185px;

    padding: var(--10px);
    gap: var(--50px);
    margin-inline: auto;

    background-color: var(--grey-1);
    color: var(--grey-6);
}

.productImage {
    width: 35%;
}
.productImage img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;

    width: 55%;

    gap: var(--30px);
}
.productInfo h3 {
    color: var(--orange-4);
}
.productInfo h5, .productInfo h2, .productInfo h3 {
    font-weight: bolder;
}

.details {
    display: flex;
    flex-direction: column;

    gap: var(--10px);
}

.cross {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: right;

    width: 10%;
    height: 100%;

    margin-inline: var(--5px);
}